/*global*/
:root{
    --maincolor :#00C3DA;
   --seccolor: #38cbdc;
}
body{
    font-family: "Source Sans 3", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
}
/*navbar*/
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-nav-link-color);
}
a {
    color: rgba(--bs-nav-link-color), var(--bs-link-opacity, 1);
    text-decoration: underline;
}
/*Home*/
.Home 
{
   position: relative;
}
.Home img 
{
height: 100vh;
}
.content1 , .content2
{
position: absolute;
text-align: center;
left:50%;
top: 50%;
transform:translate(-50%,-50%);
color :white;
z-index: 1;
}
.fw-300
{
    font-weight: 300;
}
.carousel-item::before 
{
content: " ";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

}
.i1::before
{
   content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
 }
.content1 h1
{
font-size: 90px;
font-weight: 700;
}
.content2 h1
{
font-size: 75px;
font-weight: 700;
}
.content1 h4, .content2 h4
{
font-size: 18px;
font-weight: 400;
line-height: 23px;
}
.cbtn
{    background-color: var(--maincolor) !important;
    transition: all 0.6;
}
.cbtn:hover{
    background-color: var(--seccolor) !important;
}
/*arows*/
.i2
{
    top:52%;
    left:0%;
}
.i1::before 
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
}
.arrows {
    position: absolute;
    bottom: 50%;
    left: 10px; 
    padding: 100px;
    transform: translateY(50%);
}

/*About*/
.mcolor
{
    color: var(--maincolor);
    font-weight: 600;
}
.About
{
    position: relative;
}
.About .btn
{
    position: relative;
    left: 46%;
    border-radius: 0%;
}

/*team*/
.member {
  position: relative;
  overflow: hidden;
}

.member .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 195, 218, 0.7);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.member:hover .layer {
  top: 0;
  opacity: 1;
}
.Team .shadow2 h2
{
position: relative;

}
.Team .shadow2 h2::before
 {
    content: "C";
    position: absolute;
    font-size: 70px;
    color: rgb(211, 211, 211,0.3);
    z-index: 1;
   bottom: -5%;
    left:47%;
    
    

  
}



/*services*/
.gray
    {
        background-color: #626262;
    }
.service .shadow1 h2
     {
    position: relative;
    font-size: 48px;
}

.service .shadow1 h2::before
 {
    content: "W";
    position: absolute;
    font-size: 70px;
    color: rgb(211, 211, 211,0.3);
    z-index: 1;
    top:-10%;
}

/*price*/
.boxbtn
{
  margin: 10px 0px;
}
.box
{
   width:22.5%;
   height: 450px;
}
.dollor
{
   vertical-align: text-top;
}
.bcolor
{
    background-color: var(--maincolor) !important;
    transition: all 0.5s;
   
}
.bbcolor
{
    color: var(--maincolor);
}
.list-group
{
    margin: 20px 0px;
    list-style-type: none;
}
.line
{
    margin-left: 30px;
}

.scale-1
{

    transform: scale(1.07);
}
.vbtn
{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
}



/*slider*/
#works p {
    width: 70%;
    margin: auto;
  }
 .feedback img {
    width: 100px;
    height: auto;
    position: relative;
    z-index: 1;
    margin-bottom: -50px;
  }
  
  .feedback .fa-solid.fa-solid.fa-arrow-right {
    font-size: 35px;
    transition: all 0.5s ease;
    color: black;
    
  }
  .feedback .fa-solid.fa-solid.fa-arrow-left {
    font-size: 35px;
    transition: all 0.5s ease;
    color: black;
    
  }
  .feedback .fa-solid.fa-solid.fa-arrow-right:hover {
    font-size: 35px;
    transform: translateX(10%);
    color:var(--maincolor);
    
  }
  .feedback .fa-solid.fa-solid.fa-arrow-left:hover {
    font-size: 35px;
    transform: translateX(-10%);
    color:var(--maincolor);
    
  }
  
  .feedback .content {
    background-color: white;
    width: 60%;
    position: relative;
    margin: auto;
  }
  .feedback.feedback1  {
    background-color: #f7f7f7;
  }
  .feedback.content {
    position: relative;
  }
  
  .feedback .carousel-indicators [data-bs-target] {
    opacity: 0.8;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dedede;
  }
  .feedback .carousel-indicators .active {
    background-color: var(--maincolor);
    opacity: 1;
  }


  /*contact */
  .contact .titles h2
   {
    position: relative;
    font-size: 48px;
   }


.contact .titles h2::before
 {
    content: "G"; 
    position: absolute;
    font-size: 70px;
    color: rgb(211, 211, 211,0.3); 
    z-index: -1; 
    left: -2%; 
    bottom: -1%;
 }